<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="padding-top:50px;">
	<div class="panel">
		<div class="panel-body">
			<h4>Send an email to a Sponsor</h4>
			<hr>
			<form ng-submit="send()">

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
						  <label class="control-label" for="emailInput">Email</label>
						  <input class="form-control" id="emailInput" type="email" placeholder="ex. company@company.com" ng-model="formData.email" required>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
						  <label class="control-label" for="companyInput">Company Name</label>
						  <input class="form-control" id="companyInput" type="text" placeholder="ex. Google" ng-model="formData.company" required>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
						  <label class="control-label" for="nameInput">Personal Name (optional)</label>
						  <input class="form-control" id="nameInput" type="text" placeholder="ex. John Appleseed" ng-model="formData.name">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span>Please mark all that apply to <b>{{formData.company}}</b></span>
						<div class="checkbox">
	                        <label>
	                        	<input type="checkbox" ng-model="formData.section.experimenting"> Experimenting
	                        </label>
	                        <a href="#/sponsor" ng-click="getSection('experimenting')">Preview This Section</a>
	                    </div>

	                    <div class="checkbox">
	                        <label>
	                        	<input type="checkbox" ng-model="formData.section.marketing"> Marketing
	                        </label>
	                        <a href="#/sponsor" ng-click="getSection('marketing')">Preview This Section</a>
	                    </div>

	                    <div class="checkbox">
	                        <label>
	                        	<input type="checkbox" ng-model="formData.section.api"> API
	                        </label>
	                        <a href="#/sponsor" ng-click="getSection('api')">Preview This Section</a>
	                    </div>

	                    <div class="checkbox">
	                        <label>
	                        	<input type="checkbox" ng-model="formData.section.vc"> Venture Capitalist
	                        </label>
	                        <a href="#/sponsor" ng-click="getSection('vc')">Preview This Section</a>
	                    </div>

	                    <div class="checkbox">
	                        <label>
	                        	<input type="checkbox" ng-model="formData.section.charity"> Charity
	                        </label>
	                        <a href="#/sponsor" ng-click="getSection('charity')">Preview This Section</a>
	                    </div>

	                    <div class="checkbox">
	                        <label>
	                        	<input type="checkbox" ng-model="formData.section.exposure"> Exposure
	                        </label>
	                        <a href="#/sponsor" ng-click="getSection('exposure')">Preview This Section</a>
	                    </div>

					</div>
				</div>

				
				
				<br>
				<center><input class="btn btn-primary" type="submit" value="Send"></center>

			</form>
		</div>
		
	</div>
</div>

<div class="modal" id="sectionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="margin-bottom:-15px!important">
        <h4 class="modal-title">Section Preview</h4>
      </div>
      <div class="modal-body">
        <p>{{section}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>