<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card-dash">
	
	<div class="panel panel-success">
		
		<div class="panel-heading" style="padding-top:15px;padding-bottom:15px">
			
			<h3 class="panel-title">
				
				<a ng-href="#{{$location.path()}}" class="ion ion-ios-trash pull-right delete-m" ng-click="delete(email.id)" style="font-size:16pt;padding-left: 5px"></a>

			</h3>
			
		</div>
		
	</div>
</div>

<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card-dash" ng-repeat="email in user.emails">
	
	<div class="panel panel-success">
		
		<div class="panel-heading" style="padding-top:15px;padding-bottom:15px">
			
			<h3 class="panel-title">
				
				<a ng-href="#{{path}}" class="ion ion-ios-trash pull-right delete-m" ng-click="delete(email.id)" style="font-size:16pt;padding-left: 5px"></a>

				<i class="ion ion-email pull-right" style="font-size:16pt"></i>
				{{user.first_name}} sent an email to {{email.company}}

			</h3>
			
		</div>
		
	</div>
</div>
